.flex-container {
    display: flex;
    width: 300px;
    height: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  
  .flex-container > div {
    width: 280px;
    height: 200px;
    margin: 5px;
    margin-left: 0px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 2px solid black;
  }
  .img{
    width: 15px;
    height: 15px;
  }
  .text{
  position:center;
  text-decoration: none;
  }