
  <div class="container">
    <div class="flex-container">
      <div class="img text">
        <img src="#">
       <div> <a class="text" href="" >IDSCC</a></div>
      </div>
      <div class="img text">
        <img src="#">
        <div> <a class="text" href="" >CISC</a></div>
      </div>
      <div class="img text">
        <img src="#">
        <div> <a class="text" href="" >ITIRC</a></div>
      </div>  
      <div class="img ">
        <img src="#">
        <div> <a class="text" href="" >GI</a></div>
      </div>
       
    </div>
  </div>

  